In [1]:
from pandas import DataFrame as df
import pandas as pd
import numpy as np
from toolz import thread_first,curry, thread_last

In [16]:
d1 = df(np.random.random([5,4]),columns=['b 1','c 1','d 1','e 1'])
d1['a'] = pd.Series(range(5))
d2 = df(np.random.random([5,1]),columns=['b2'])
d2['a'] = pd.Series(range(5))

In [17]:
m1 = pd.merge(d1,d2,on='a')

In [18]:
m1

        b 1       c 1       d 1       e 1  a        b2
0  0.581383  0.420767  0.873858  0.996229  0  0.296850
1  0.719407  0.556291  0.850606  0.984559  1  0.639522
2  0.088953  0.276311  0.020649  0.223271  2  0.741933
3  0.136980  0.537088  0.414217  0.254694  3  0.365032
4  0.539323  0.476245  0.842825  0.981016  4  0.158364

In [11]:
r = lambda n: np.random.random(n)
n = 10000
x = pd.DataFrame(dict(a = np.floor(r(n) * 10),
                      b = r(n),
                      c = r(n)))

In [12]:
def curry_funcs(funcs):
    for func in funcs:
        try: 
            exec('global {}; {} = curry({})'.format(*[func]*3))
        except:
            exec('{} = curry({})'.format(*[func]*2))

In [32]:
funcs = [df.mean,df.std,df.sem,df.count,df.min,df.max]
names = ['avg','std','sem','count','min','max']

@curry
def summarize(dataframe,funcs = [],names = []):
    summary = pd.concat([df(f(dataframe)).T for f in funcs])
    summary['Function'] = names
    return summary.reset_index(drop=True)

print summarize(x,funcs,names)

              a             b             c Function
0      4.511300      0.495966      0.494184      avg
1      2.864942      0.290479      0.288960      std
2      0.028649      0.002905      0.002890      sem
3  10000.000000  10000.000000  10000.000000    count
4      0.000000      0.000027      0.000281      min
5      9.000000      0.999989      0.999681      max

In [38]:
y = x.copy()
y['title'] = 'bob'
# print y.head()
print summarize(y,funcs,names)

            a             b             c  title Function
0      4.5113     0.4959657     0.4941839    NaN      avg
1    2.864942     0.2904786     0.2889601    NaN      std
2  0.02864942   0.002904786   0.002889601    NaN      sem
3       10000         10000         10000  10000    count
4           0  2.711458e-05  0.0002813152    bob      min
5           9     0.9999885     0.9996808    bob      max

In [33]:
def reset_index(dataframe):
    return dataframe.reset_index(drop=True)

snd = lambda x: x[1]

In [34]:
def summarize_groups(groups,funcs = [],names = []):
    return thread_last(groups,
                        (map, snd),
                        (map,summarize(funcs = funcs, 
                                       names = names)),
                        pd.concat,
                        reset_index)

In [39]:
summarize_groups(y.groupby('a'),funcs,names)

       a             b             c title Function
0      0     0.5009223     0.4783379   NaN      avg
1      0     0.2928977     0.2885636   NaN      std
2      0   0.009266873   0.009129747   NaN      sem
3    999           999           999   999    count
4      0  0.0006728686   0.000292597   bob      min
5      0     0.9990363     0.9959685   bob      max
6      1     0.5118278     0.4661265   NaN      avg
7      0     0.2897808     0.2851193   NaN      std
8      0   0.009406684   0.009255364   NaN      sem
9    949           949           949   949    count
10     1  2.711458e-05   0.001236707   bob      min
11     1     0.9997554     0.9990692   bob      max
12     2     0.4964965     0.5129042   NaN      avg
13     0      0.293399     0.2875598   NaN      std
14     0   0.009264204   0.009079829   NaN      sem
15  1003          1003          1003  1003    count
16     2  0.0004014248   0.002102177   bob      min
17     2     0.9997799     0.9982892   bob      max
18     3      0.506412     0.5053022   NaN      avg
19     0     0.2867768     0.2863507   NaN      std
20     0   0.008896849   0.008883632   NaN      sem
21  1039          1039          1039  1039    count
22     3  0.0007318046   0.002913771   bob      min
23     3     0.9976097     0.9995244   bob      max
24     4     0.4893067     0.5041685   NaN      avg
25     0     0.2934773     0.2931082   NaN      std
26     0   0.009162221   0.009150699   NaN      sem
27  1026          1026          1026  1026    count
28     4   0.001999915   0.002220276   bob      min
29     4     0.9998469     0.9979432   bob      max
30     5     0.4923162     0.4901463   NaN      avg
31     0     0.2851646     0.2901245   NaN      std
32     0    0.00910925   0.009267689   NaN      sem
33   980           980           980   980    count
34     5  0.0004300231  0.0003558184   bob      min
35     5     0.9999178     0.9996808   bob      max
36     6     0.4984565     0.4881892   NaN      avg
37     0     0.2963351      0.288086   NaN      std
38     0   0.009319819   0.009060383   NaN      sem
39  1011          1011          1011  1011    count
40     6  3.328151e-05  0.0002813152   bob      min
41     6     0.9981685     0.9996052   bob      max
42     7     0.4759308      0.499328   NaN      avg
43     0      0.286187     0.2955523   NaN      std
44     0   0.009155934   0.009455557   NaN      sem
45   977           977           977   977    count
46     7   0.001783711   0.001216552   bob      min
47     7     0.9996499     0.9992254   bob      max
48     8     0.4840054     0.4895628   NaN      avg
49     0     0.2907392     0.2823982   NaN      std
50     0   0.009139307   0.008877112   NaN      sem
51  1012          1012          1012  1012    count
52     8    0.00113564   0.001494496   bob      min
53     8     0.9999885     0.9992703   bob      max
54     9     0.5041103     0.5056899   NaN      avg
55     0     0.2890855      0.290729   NaN      std
56     0   0.009123457   0.009175325   NaN      sem
57  1004          1004          1004  1004    count
58     9   0.002937218  0.0008779556   bob      min
59     9      0.997355     0.9977268   bob      max

In [35]:
x2 = pd.DataFrame(x.count()).T
x2['Function'] = 'mean'
x2[]

       a      b      c Function
0  10000  10000  10000     mean

In [17]:
summarize(x,funcs,['s'])

[array([ 0.0288534 ,  0.00288482,  0.00287478]), array([ 2.88534014,  0.28848219,  0.28747837]), array([ 4.4965    ,  0.49559173,  0.50499939]), array([ 0.        ,  0.00022674,  0.00013953]), array([ 9.        ,  0.99989249,  0.99981598]), 10000]

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [ ]:
def group_apply(group):

In [36]:
map(lambda x: x[1],gs)

IndexError: tuple index out of range

In [31]:
def add_constant_col(dataframe,name = "",val = ""):
    new_dataframe = dataframe.copy()
    new_dataframe[name] = val
    return new_dataframe

In [32]:
add_constant_col(x,'bob','santa')

      a         b         c    bob
0     0  0.780028  0.331236  santa
1     4  0.001477  0.177038  santa
2     7  0.553691  0.929238  santa
3     3  0.284791  0.451306  santa
4     3  0.963765  0.986582  santa
5     7  0.624703  0.737163  santa
6     3  0.028202  0.478833  santa
7     4  0.669904  0.314751  santa
8     7  0.058020  0.904912  santa
9     3  0.681391  0.656802  santa
10    6  0.472693  0.120065  santa
11    3  0.025320  0.337509  santa
12    4  0.724976  0.263331  santa
13    4  0.103849  0.692495  santa
14    2  0.464571  0.082461  santa
15    2  0.167278  0.878907  santa
16    6  0.473172  0.968103  santa
17    7  0.557169  0.127387  santa
18    8  0.179263  0.875374  santa
19    8  0.457730  0.970266  santa
20    9  0.743159  0.722860  santa
21    0  0.988223  0.186183  santa
22    1  0.478593  0.634497  santa
23    5  0.510009  0.705482  santa
24    4  0.056430  0.410821  santa
25    9  0.589843  0.922942  santa
26    9  0.557656  0.169421  santa
27    4  0.389214  0.610949  santa
28    4  0.836634  0.304412  santa
29    6  0.846483  0.549242  santa
...  ..       ...       ...    ...
9970  4  0.705189  0.135340  santa
9971  6  0.674038  0.872456  santa
9972  6  0.233867  0.589366  santa
9973  8  0.113284  0.118583  santa
9974  2  0.222940  0.979511  santa
9975  6  0.337327  0.948983  santa
9976  5  0.059576  0.585028  santa
9977  4  0.822464  0.847843  santa
9978  0  0.094796  0.564448  santa
9979  3  0.372257  0.420496  santa
9980  3  0.393502  0.460309  santa
9981  0  0.429954  0.895295  santa
9982  1  0.798561  0.022870  santa
9983  8  0.463420  0.655744  santa
9984  7  0.204841  0.663939  santa
9985  4  0.742207  0.437772  santa
9986  3  0.121835  0.700058  santa
9987  8  0.111194  0.443552  santa
9988  6  0.795797  0.105005  santa
9989  6  0.181615  0.045577  santa
9990  5  0.377055  0.090476  santa
9991  3  0.022235  0.227733  santa
9992  8  0.663408  0.159869  santa
9993  5  0.866957  0.016931  santa
9994  8  0.195410  0.303533  santa
9995  9  0.764715  0.350944  santa
9996  9  0.571417  0.429882  santa
9997  8  0.080063  0.363533  santa
9998  2  0.458752  0.504281  santa
9999  7  0.982566  0.741969  santa

[10000 rows x 4 columns]