In [30]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn.apionly as sns
import numpy as np
from pandas.tools.plotting import scatter_matrix
from pandas import \
    DataFrame as df
import pandas as pd
from IPython.html.widgets import \
    interact,\
    fixed,\
    interactive
from IPython.display import display, clear_output
import IPython.html.widgets as widgets
from view import \
    plot_plates,\
    matrix_tree
from toolz import \
    pipe,\
    thread_first,\
    curry
from utils import \
    normalize_columns,\
    filter_and_drop,\
    filter_rows,\
    snd,\
    add_col,\
    persist_widget_value,\
    maybe_get_model,\
    map,\
    concatenate,\
    fst

In [2]:
filepaths = ['A.csv','B.csv','C.csv']

# Sequential

In [3]:
mypath = '/notebooks/assay-explorer/reorg/ui_model.json'
uiget = maybe_get_model(mypath)
uiset = persist_widget_value(mypath)

In [4]:
a = widgets.Dropdown(options = filepaths, value = uiget('filepath',filepaths[-1]))
gen_b = lambda a_val: widgets.Dropdown(options = map(lambda x: "{}: {}".format(a_val,x),range(10)))
def c(x):
    print x

### Select dataset

In [5]:
display(a)
uiset(a,'filepath')
# a.on_trait_change(lambda name,value: uiset('filepath',value),'value')
# # uiset('filepath',a.value)

In [6]:
b1 = gen_b(a.value)
display(b1)

In [7]:
c(b1.value)

C.csv: 0

# Nested

In [8]:
file_selector = widgets.Dropdown(options = filepaths, value = filepaths[-1])

In [9]:
def show_grandchild(x):
    print x

In [10]:
def show_children(my_file):
    child = widgets.Dropdown(options = map(lambda x: "{}: {}".format(my_file,x),range(10)))
    child_ui = interactive(
        show_grandchild,
        x = child)
    display(child_ui)

In [11]:
parent = interactive(
    show_children,
    my_file = file_selector)

In [12]:
display(parent)

C.csv: 0

In [13]:
close_widget = widgets.Dropdown(options = filepaths, value = filepaths[-1])

In [14]:
# display(close_widget)

# Mutate options (rather than regenerate)

In [15]:
mutable_options_selector = widgets.Dropdown()

In [16]:
def mutable_show_children(my_file):
    idisp.clear_output()
    mutable_options_selector.options = map(lambda x: "{}: {}".format(my_file,x),range(10))
    child_ui = interactive(
        show_grandchild,
        x = mutable_options_selector)
    display(child_ui)

In [17]:
mutable_parent = interactive(
    mutable_show_children,
    my_file = file_selector)

In [18]:
import IPython.display as idisp
display(mutable_parent)

C.csv: 0

# Mutate 2

In [19]:
import beeswarm

In [20]:
from beeswarm import beeswarm

In [21]:
import numpy as np

In [22]:
d1 = np.random.normal(size=200)

In [23]:
d1.shape

(200,)

In [24]:
options = ["hex","center","square","swarm"]
def f(method):
    beeswarm([d1,d1],method=method)
interact(f,method=widgets.ToggleButtons(options=options));

In [25]:
data = np.random.normal(size=300)
beeswarm(data,method='center');

In [26]:
import pandas as pd

In [27]:
data.shape

(300,)

In [28]:
n = 4
data = np.array([np.random.normal(size=300) for _ in range(n)])
mydf = pd.DataFrame(data.T,columns=['a','b','c','d'])

In [29]:
def my_beeswarm(dataframe,method = "center"):
    cols = dataframe.columns.tolist()
    positions = np.array(range(len(cols)))
    beeswarm(dataframe.values.T,method=method,labels = cols,positions = positions)
    fig = plt.gcf()
    fig.set_size_inches(5,1)

In [30]:
interact(
    my_beeswarm,
    dataframe = fixed(mydf),
    method = fixed('center'),
    spacing = widgets.FloatSlider(min= 0.5, max = 3.0, step = 0.1))

In [31]:
beeswarm(data,method='center');

In [33]:
import os
from collections import OrderedDict

In [62]:
path = '/notebooks/moldev-data/analyzed/'
def f(x):
    print gen_filenames(*x)
my_files = get_files(path)
interact(f,x=widgets.Dropdown(options=my_files));

['/notebooks/moldev-data/analyzed/07-15-2015/ssC PNA-Refactor-wells.csv', '/notebooks/moldev-data/analyzed/07-15-2015/ssC PNA-Refactor-conditions.csv', '/notebooks/moldev-data/analyzed/07-15-2015/ssC PNA-Refactor.csv']

In [2]:
from ggplot import *

In [10]:
newdata = meat.copy()

In [12]:
meat.head()

,date,beef,veal,pork,lamb_and_mutton,broilers,other_chicken,turkey
0,1944-01-01,751,85,1280,89,NaN,NaN,NaN
1,1944-02-01,713,77,1169,72,NaN,NaN,NaN
2,1944-03-01,741,90,1128,75,NaN,NaN,NaN
3,1944-04-01,650,89,978,66,NaN,NaN,NaN
4,1944-05-01,681,106,1029,78,NaN,NaN,NaN

In [17]:
newdata['newgroup'] = meat['pork'].map(lambda x: int(x / 100))

In [18]:
newdata.head()

,date,beef,veal,pork,lamb_and_mutton,broilers,other_chicken,turkey,newgroup
0,1944-01-01,751,85,1280,89,NaN,NaN,NaN,12
1,1944-02-01,713,77,1169,72,NaN,NaN,NaN,11
2,1944-03-01,741,90,1128,75,NaN,NaN,NaN,11
3,1944-04-01,650,89,978,66,NaN,NaN,NaN,9
4,1944-05-01,681,106,1029,78,NaN,NaN,NaN,10

In [49]:
subset = newdata[newdata['newgroup'] == 10].reset_index(drop=True)

In [50]:
subset.head()

,date,beef,veal,pork,lamb_and_mutton,broilers,other_chicken,turkey,newgroup
0,1944-05-01,681,106,1029,78,NaN,NaN,NaN,10
1,1944-12-01,764,146,1013,91,NaN,NaN,NaN,10
2,1945-01-01,820,119,1037,100,NaN,NaN,NaN,10
3,1946-01-01,856,101,1051,74,NaN,NaN,NaN,10
4,1946-11-01,844,142,1010,71,NaN,NaN,NaN,10

In [2]:
clear_output()
ggplot(aes(x='date', y='beef', color='newgroup'), data=subset) +\
    geom_line() + geom_point()

NameError: name 'clear_output' is not defined