In [31]:
import pandas as pd
from toolz import thread_last

In [36]:
d1 = pd.DataFrame(
    dict( a = [10,20,30],
          c1 = [1.1,2,3] 
        ))
d2 = pd.DataFrame(
    dict( a = [10,20,30],
          c2 = [1.2,2,3] 
        ))
d3 = pd.DataFrame(
    dict( a = [10,20,30],
          c3 = [1.3,2,3] 
        ))
d4 = pd.DataFrame(
    dict( a = [10,20,30],
          c4 = [1.4,2,3] 
        ))
d5 = pd.DataFrame(
    dict( a = [10,20,30],
          c5 = [1.5,2,3] 
        ))

In [37]:
d = thread_last(
    [d1,d2,d3,d4,d5],
    (reduce, lambda left, right: pd.merge(left, right, on = 'a')))

In [38]:
d.columns.tolist()[1:]

['c1', 'c2', 'c3', 'c4', 'c5']

In [39]:
def concatStrings(series):
    return ' '.join([str(x) for x in series.values[1:]])
d['Concat'] = d.apply(concatStrings, axis = 1)
d

    a   c1   c2   c3   c4   c5               Concat
0  10  1.1  1.2  1.3  1.4  1.5  1.1 1.2 1.3 1.4 1.5
1  20  2.0  2.0  2.0  2.0  2.0  2.0 2.0 2.0 2.0 2.0
2  30  3.0  3.0  3.0  3.0  3.0  3.0 3.0 3.0 3.0 3.0

In [44]:
newdatapath = '/notebooks/tmp/imported-data/new_data.csv'

In [45]:
newdata = pd.read_csv(newdatapath)

In [46]:
newdata.head()[['Condition']]

                Condition
0  U2OS DMSO 0.1 % 72 hrs
1  U2OS DMSO 0.1 % 72 hrs
2  U2OS DMSO 0.1 % 72 hrs
3  U2OS DMSO 0.1 % 72 hrs
4  U2OS DMSO 0.1 % 72 hrs

In [47]:
from StringIO import StringIO

In [59]:
pd.read_csv(StringIO("A,B\n1,\n2,"))['B'].isnull().all()

True